main
{
  display: flex;
  width: 70%;
  align-items: flex-start;
  justify-content: space-around;
}

.topnav a:nth-child(2)
{
  font-style: italic;
  text-decoration:underline;
}
.image 
{
  width: 52%;
  margin-left: 11.2%;
}

.description
{
  font-family: 'Magneta-Thin';
  font-size: 0.6rem;
  width: 45%;
  margin-left: 5%;
}

.description p
{
  margin: 0;
  width: 332px;
}
.description p:nth-child(2)
{
  width: 312px;
}
.credits
{
  margin-left: 5.7%;
  font-family: 'Magneta-Thin';
  font-size: 0.5rem;
  font-style: italic;
}