.container
{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.topnav a:nth-child(2)
{
  font-style: italic;
  text-decoration:underline;
}
.image 
{
  width: 80%;
}

.description
{
  font-family: 'Magneta-Thin';
  font-size: 0.6rem;
  width: 80%;
  margin: 5vh 0;
}

.description p
{
  margin: 0;
  margin: 2vh 0;
}

.credits
{
  font-family: 'Magneta-Thin';
  font-size: 0.5rem;
  font-style: italic;
}
