main{
  display: flex;
  width: 723px;
  margin-left: 3%;
  align-items: center;
}

.image img{
  width: 74%;
  margin-top: 3%;
}

.description{
  margin-top: 3%;
  font-family: 'AvenirLTPro-Light';
  font-size: 13px;
  margin-left: -11%;
}