# RewriteEngine On
# RewriteCond %{HTTP_HOST} haddou-dufourcq\.com [NC]
# RewriteCond %{SERVER_PORT} 80
# RewriteRule ^(.*)$ https://haddou-dufourcq.com/$1 [R,L]

# RedirectPermanent /about/about.html https://haddou-dufourcq.com/pages/about/
# RedirectPermanent /contact/contact.html https://haddou-dufourcq.com/pages/contact/

#ErrorDocument 404 /pages/404/404.php