main{
  display: flex;
  width: 723px;
  margin-left: 3%;
  align-items: center;
}

.article{
  margin-left: 5%;
  margin-top: 3%;
}
.article a{
  text-decoration: none;
  font-family: 'Playfair Display';
  color: black;
  font-size: 13px;

}


/***************************************
                Footer
***************************************/


.footerTab {
  width: 100%;
  margin: 0 auto;
  height: 240px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
  .footerTab ul {
    list-style: none;
    color: white; }
    .footerTab ul a {
      text-decoration: none;
      color: black;
      font-weight: bold;}

/***************************************
                Media Queries
***************************************/

@media all and (max-width: 910px)
{
  body{
    width: 100%;
  }
  Main {
    display: inline-block;
  }
  .image img{
    width: 100%;
  }
  .description{
    width: 86%;
    margin: 7%;
  }
}

@media all and (max-width: 910px)
{
  body{
    width: 100%;
  }
  Main {
    display: inline-block;
    width: 100%;
  }
  .image img{
    width: 100%;
  }
  .description{
    width: 86%;
    margin: 7%;
  }
}





