.topnav a:nth-child(3)
{
  font-style: italic;
  text-decoration:underline;
}

main{
  display: flex;
  width: 723px;
  margin-left: 3%;
  align-items: center;
}

.article{
  margin-left: 5%;
}
.article a{
  text-decoration: none;
  font-family: 'Magneta-Thin';
  color: black;
  font-size: 13px;

}



/***************************************
                Media Queries
***************************************/

@media all and (max-width: 910px)
{
  body{
    width: 100%;
  }
  Main {
    display: inline-block;
  }
  .image img{
    width: 100%;
  }
  .description{
    width: 86%;
    margin: 7%;
  }
}

@media all and (max-width: 910px)
{
  body{
    width: 100%;
  }
  Main {
    display: inline-block;
    width: 100%;
  }
  .image img{
    width: 100%;
  }
  .description{
    width: 86%;
    margin: 7%;
  }
}





