.topnav a:nth-child(4)
{
  font-style: italic;
  text-decoration:underline;
}

.container {
  display: flex;
  width: 73%;
  flex-direction: column;
  margin-left: 5%;
}

.background{
  width: 64%;
  z-index: -10;
}
.text{
  width: 59%;
  font-size: 0.6rem;
  display: flex;
  justify-content: space-between;
}
.text p{
  font-style: italic;
  font-family: 'Magneta-Thin';
  margin-bottom: 0%;
}
.text h1{
  font-size: 2em;
}
.text a{
  text-decoration: none;
  color: black;
  font-family: 'Magneta-Thin';
}
.text a:hover{
  text-decoration: underline;
}
.text img{
  width: 11%;
  margin-top: 5%;
}