:root {
  --Current-Text-Font-Size: 0.9rem;
}

body {
  font-family: 'Magneta-Thin';
}

html body {
  margin: 0;
  width: 100%;
}

html body main {
  width: 100%;
  display: flex;
  justify-content: center;
}

html body main .container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 110px;
}

html body main .container .aboutDescription {
  display: flex;
  width: 50%;
  flex-direction: column;
}

html body main .container .aboutDescription .aboutDescriptionTexts {
  font-size: var(--Current-Text-Font-Size);
  line-height: 21.6px;
  margin-top: 0;
}

html body main .container .aboutDescription .aboutDescriptionEN {
  margin-top: -14px;
}

html body main .container .aboutImg {
  width: 467px;
}

html body .navbarContentSectionsLinks div:nth-child(2) {
  font-style: italic;
  text-decoration: underline;
}

@media all and (max-width: 1168px) {
  html body main .container {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin: 110px 0 10vh 0;
  }
  html body main .container .aboutDescription {
    margin-top: 40px;
  }
}

@media all and (max-width: 910px) {
  html body main .container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin: 110px 0 10vh 0;
  }
  html body main .container .aboutDescription {
    width: 80%;
    margin-top: 40px;
  }
  html body main .container .aboutImg {
    width: 80%;
  }
}
