html body .navbar .navbarContent .navbarContentSections .navbarContentSectionsLinks div:nth-child(3) {
  font-style: italic;
  text-decoration: underline;
}
body
{
  margin: 0;
  margin-bottom: 10vh;
}
main{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.container
{
  width: 80%;
  margin-top: 110px;
}
.article a{
  text-decoration: none;
  font-family: 'Magneta-Thin';
  color: black;
  font-size: 13px;
}


@media all and (max-width: 910px)
{
 .container
 {
   width: 90%;
 }
}


