.topnav a:nth-child(1)
{
  font-style: italic;
  text-decoration:underline;
}

body 
{
  background: #fff;
  font-family: 'Magneta-Thin';
  font-weight: bold;
  margin: 0;
  display: flex;
  justify-content: center;
}
body main 
{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 110px;
}
body main .container
{
  width: 90%;
  max-width: 1260px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10vh;
}

body main .container > div
{
  position: relative;
  width: 48%;
  min-width: 402px;
}
.eliseDjoBourjoie
{
  margin-top: 2%;
}
.fenetre
{
  margin-top: -38%;
}
.iciEtAilleur
{
  margin-top: 2%;
}
.hyeres34
{
  margin-top: -25.5%;
}
.songeEte
{
  margin-top: -6.5%;
}
.villa
{
  margin-top: 2%;
}
.display
{
  margin-top: -11%;
}
.louvre
{
  margin-top: 2%;
}
.notreDame
{
  margin-top: -12%;
}

body main .container > div img 
{
  width: 100%;
}
body main .container > div a
{
  width: 100%;
  height: 99%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #34343466;
  opacity: 0;
  text-decoration: none;
  transition: opacity .8s ease;
}
body main .container > div .small
{
  height: 98%;
}
body main .container > div a p
{
  margin: 4px;
}
body main .container > div a p:nth-child(1)
{
  font-size: 0.8rem;
  font-weight: normal;
}
body main .container > div a p:nth-child(2)
{
  font-size: 0.7rem;
  font-weight: normal;
  font-style: italic;
}
body main .container > div a:hover
{
  opacity: 1;
  transition: opacity .8s ease;
}



@media all and (max-width: 910px)
{
  body main .container
  {
    justify-content: center;
  }
  body main .container > div
  {
    width: 90%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  body main .container > div img 
  {
    width: 80%;
    height : 100%;
  }
  .notreDame
  {
    margin-bottom: 10vh;
  }
  body main .container > div a:hover
  {
    opacity: 0;
  }
}